* {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1240px;
  margin: auto;
}
.dropDownSearch {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;.dropDownSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgb(197, 194, 196);
  }
}
 


a {
  text-decoration: none;
}

h1 {
  color: #d04f4f;
  text-align: center;
  font-family: "DM sans";
}

header {
  text-align: center;
}

.searchInput {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
  background: #e7e7e7;
  border-radius: 5px;
  margin-top: 20px;
}
.searchInput::after {
  content: "";
  background-image: url(images/loupe.png);
  display: flex;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
}
.searchInput input {
  background-color: transparent;
  flex: 1;
  height: 100%;
  padding-left: 20px;
  cursor: pointer;
  border: none;
  font-family: "Lato";
  color: rgba(0, 0, 0, 0.75);
}

.container {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-top: 2rem;
}

.ingredient {
  background-color: #3282f7;
  position: relative;
  border-radius: 5px;
  width: 170px;
  height: 70px;
  margin-right: 1.5rem;
}
.ingredient__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Lato";
  width: 170px;
  height: 70px;
  cursor: pointer;
  background-color: blueviolet;
}
.ingredient__search {
  background-color: #3282f7;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
}
.ingredient__search__input {
  background-color: #3282f7;
  border: none;
  height: 70px;
  color: white;
  border-radius: 5px;
  font-family: "Lato";
  font-size: 1.2rem;
  width: 100%;
  padding-left: 20px;
}
.ingredient__search__menu {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: white;
  padding-left: 20px;
  font-family: "Lato";
  font-size: 1.1rem;
  max-height: 400px;
  overflow: auto;
}

.appareil {
  background-color: #68d9a4;
  position: relative;
  border-radius: 5px;
  width: 170px;
  height: 70px;
  margin-right: 1.5rem;
}
.appareil__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Lato";
  width: 170px;
  height: 70px;
  cursor: pointer;
}
.appareil__search {
  background-color: #68d9a4;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
}
.appareil__search__input {
  background-color: #68d9a4;
  border: none;
  height: 70px;
  color: white;
  border-radius: 5px;
  font-family: "Lato";
  font-size: 1.2rem;
  width: 100%;
  padding-left: 20px;
}
.appareil__search__menu {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: white;
  padding-left: 20px;
  font-family: "Lato";
  font-size: 1.1rem;
  max-height: 400px;
  overflow: auto;
}

.ustensile {
  background-color: #ed6454;
  position: relative;
  border-radius: 5px;
  width: 170px;
  height: 70px;
  margin-right: 1.5rem;
}
.ustensile__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Lato";
  width: 170px;
  height: 70px;
  cursor: pointer;
}
.ustensile__search {
  background-color: #ed6454;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
}
.ustensile__search__input {
  background-color: #ed6454;
  border: none;
  height: 70px;
  color: white;
  border-radius: 5px;
  font-family: "Lato";
  font-size: 1.2rem;
  width: 100%;
  padding-left: 20px;
}
.ustensile__search__menu {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: white;
  padding-left: 20px;
  font-family: "Lato";
  font-size: 1.1rem;
  max-height: 400px;
  overflow: auto;
}

.ingredientItems {
  padding-bottom: 10px;
}

.appareilItems {
  padding-bottom: 10px;
}

.ustensileItems {
  padding-bottom: 10px;
}

.fleche {
  position: absolute;
  top: 28px;
  right: 20px;
  rotate: 180deg;
}

.hidde {
  display: none;
}

.move {
  transform: translateX(530px);
}

.tagSearch {
  font-family: "Lato";
  font-weight: 700;
  margin-top: 15px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}
.tagSearch__ingredient {
  display: flex;
}
.tagSearch__ingredient__position {
  border-radius: 5px;
  display: inline-block;
  height: 37px;
  padding: 10px 35px 0 20px;
  margin-right: 20px;
  background-color: #3282f7;
}
.tagSearch__ingredient__position::after {
  content: "";
  background: url(images/delete.svg) no-repeat center;
  position: absolute;
  height: 20px;
  width: 20px;
  padding-left: 10px;
  cursor: pointer;
}
.tagSearch__appareil {
  display: flex;
}
.tagSearch__appareil__position {
  background-color: #68d9a4;
  border-radius: 5px;
  display: inline-block;
  height: 37px;
  padding: 10px 35px 0 20px;
  margin-right: 20px;
}
.tagSearch__appareil__position::after {
  content: "";
  background: url(images/delete.svg) no-repeat center;
  position: absolute;
  height: 20px;
  width: 20px;
  padding-left: 10px;
  cursor: pointer;
}
.tagSearch__ustensile {
  display: flex;
}
.tagSearch__ustensile__position {
  background-color: #ed6454;
  border-radius: 5px;
  display: inline-block;
  height: 37px;
  padding: 10px 35px 0 20px;
  margin-right: 20px;
}
.tagSearch__ustensile__position::after {
  content: "";
  background: url(images/delete.svg) no-repeat center;
  position: absolute;
  height: 20px;
  width: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.searchError {
  color: #ed6454;
  display: inline-block;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 1.5rem;
}

#recipesList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  width: 380px;
  margin-top: 1.5rem;
}
article .visuel {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}
article .info {
  background-color: #e7e7e7;
  border-radius: 0 0 5px 5px;
  height: 250px;
}
article .info .entete {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Lato";
}
article .info .entete h2 {
  font-size: 1rem;
  font-weight: normal;
  flex: 1;
  padding-left: 12px;
}
article .info .entete .temps {
  font-weight: bold;
  height: 20px;
  font-size: 1.2rem;
  text-align: end;
  padding-right: 12px;
}
article .info .corps {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
article .info .corps ul {
  width: 170px;
  padding-left: 12px;
  font-family: "Lato";
}
article .info .corps .description {
  width: 170px;
  height: 110px;
  padding-right: 12px;
  font-family: "Roboto";
}

.gras {
  font-weight: bold;
}
