* {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1240px;
  margin: auto;
}

a {
  text-decoration: none;
}

h1 {
  color: #d04f4f;
  text-align: center;
  font-family: "DM sans";
}

header {
  text-align: center;
}

.searchInput {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
  background: #e7e7e7;
  border-radius: 5px;
  margin-top: 20px;
}
.searchInput::after {
  content: "";
  background-image: url(images/loupe.png);
  display: flex;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
}
.searchInput input {
  background-color: transparent;
  flex: 1;
  height: 100%;
  padding-left: 20px;
  cursor: pointer;
  border: none;
  font-family: "Lato";
  color: rgba(0, 0, 0, 0.75);
}

.container {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-top: 2rem;
}
