$color-prim: #d04f4f;
$color-ingredients: #3282f7;
$color-appliances: #68d9a4;
$color-utils: #ed6454;
$color-dark: #c7bebe;
$color-light: #e7e7e7;
$font-h1: "DM Sans";
$font-lato: "Lato";
$font-roboto: "Roboto";
