
.dropDownSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgb(197, 194, 196);
}

.dropDownSearch{
  background-color: blueviolet;
}
// *************Barre de recherche principale*****************
.searchInput {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.125rem;
  cursor: pointer;
  background: $color-light;
  border-radius: 5px;
  margin-top: 20px;
  &::after {
    content: "";
    background-image: url("./images/search.svg");
    display: flex;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
  }
  input {
    background-color: transparent;
    flex: 1;
    height: 100%;
    padding-left: 20px;
    cursor: pointer;
    border: none;
    font-family: $font-lato;
    color: rgba(0, 0, 0, 0.75);
  }
}

// ********** Recherche par thématiques *************

.container {
  display: flex;
  position: relative;
  border-radius: 5px;
  margin-top: 2rem;
}

.ingredient {
  background-color: $color-ingredients;
  @include dropdownItems;
  &__button {
    @include dropdownButton;
  }
  &__search {
    background-color: $color-ingredients;
    @include dropdownSearch;
    &__input {
      background-color: $color-ingredients;
      @include dropdownInput;
    }
    &__menu {
      @include dropdownMenu;
    }
  }
}

.appareil {
  background-color: $color-appliances;
  @include dropdownItems;
  &__button {
    @include dropdownButton;
  }
  &__search {
    background-color: $color-appliances;
    @include dropdownSearch;
    &__input {
      background-color: $color-appliances;
      @include dropdownInput;
    }
    &__menu {
      @include dropdownMenu;
    }
  }
}

.ustensile {
  background-color: $color-utils;
  @include dropdownItems;

  &__button {
    @include dropdownButton;
  }
  &__search {
    background-color: $color-utils;
    @include dropdownSearch;

    &__input {
      background-color: $color-utils;
      @include dropdownInput;
    }
    &__menu {
      @include dropdownMenu;
    }
  }
}

.ingredientItems {
  @include dropdownLi;
}

.appareilItems {
  @include dropdownLi;
}

.ustensileItems {
  @include dropdownLi;
}

.fleche {
  position: absolute;
  top: 28px;
  right: 20px;
  rotate: 180deg;
}

.hidde {
  display: none;
}

.move {
  transform: translateX(530px);
}

.tagSearch {
  font-family: $font-lato;
  font-weight: 700;
  margin-top: 15px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  &__ingredient {
    display: flex;
    &__position {
      @include tag;
      background-color: $color-ingredients;
    }
  }
  &__appareil {
    display: flex;
    &__position {
      background-color: $color-appliances;
      @include tag;
    }
  }
  &__ustensile {
    display: flex;
    &__position {
      background-color: $color-utils;
      @include tag;
    }
  }
}

.searchError {
  color: $color-utils;
  display: inline-block;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 1.5rem;
}
